<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label="New" icon="pi pi-plus"></p-button>
    &nbsp;
    <p-button label="Open" icon="pi pi-folder-open"></p-button>
  </div>
  <div class="p-toolbar-group-right">
    <p-button label="Save" icon="pi pi-check"></p-button>
  </div>
</p-toolbar>


<div class="p-grid">
  <div class="p-col-6 p-md-1">
    <p-card header="Card 1" footer="Footer">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores ducimus officiis pariatur eum! Sint eum, autem vero dolores perferendis a, enim explicabo quaerat accusamus exercitationem voluptate sunt, inventore deserunt.</p>
    </p-card>
  </div>
  <div class="p-col-12 p-md-6">
    <p-card header="Card 2" footer="Footer">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </p-card>
  </div>
</div>


